@import "./photon-motion";

// @todo use default values for variables
$__drag-target-ink--color: $purple-50;
$__item--drag-source--opacity: 0.3;
$__item-ink--drag-selected--color: $purple-50;
$__item-ink--active--color: $blue-50;
$__item-ink--hover--color: $grey-50;
$__item-ink--width: 4px;

.list-flex-col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  position: relative;

  &--is-max-height {
    // @todo this may change if header is disabled
    max-height: calc(100vh - 170px);
    overflow-y: auto;
  }

  &__item {
    position: relative;
    flex: 0;

    &::before {
      @extend %slow-transition;
      transition-property: width;
      content: "";
      position: absolute;
      width: 0;
      left: 1px;
      height: calc(100% - 1px);
      z-index: 1;
    }

    &:hover:not(#{&}--active):not(#{&}--drag-selected):not(#{&}--drag-selected) {
      &::before {
        width: $__item-ink--width;
        background-color: $__item-ink--hover--color;
      }
    }

    &--active {
      &::before {
        width: $__item-ink--width;
        background-color: $__item-ink--active--color;
      }
    }

    &--drag-selected {
      &::before {
        width: $__item-ink--width;
        background-color: $__item-ink--drag-selected--color;
      }
    }

    &--drag-source {
      opacity: $__item--drag-source--opacity;

      &::before {
        height: 0;
        opacity: 0;
      }
    }

    &--transition {
      &-enter {
        transform: translate3d(0, -100%, 0);
        opacity: 0;
        z-index: -1000;
      }

      &-enter-to {
        transform: none;
        opacity: 1;
        z-index: 0;
      }

      &-leave {
        opacity: 1;
      }

      &-leave-to {
        max-height: 0;
        opacity: 0;
      }
    }
  }

  &--is-searching &__item:not(#{&}__item--search-matched) {
    display: none;
  }

  &__drag-target-ink {
    @extend %slow-transition;
    transition-property: width;
    position: absolute;
    top: -1px;
    height: 2px;
    width: 0;
    background-color: $__drag-target-ink--color;
    z-index: 10;

    &::before {
      @extend %fast-transition;
      transition-property: border-width;
      content: "";
      width: 0;
      height: 0;
      border-radius: 50%;
      border: 0 solid $__drag-target-ink--color;
      position: absolute;
      top: -4px;
      left: -6px;
    }
  }

  &__item--drag-target-index > &__drag-target-ink {
    width: 100%;

    &::before {
      border-width: 5px;
    }
  }
}
