
@import "photon-colors";
@import "fira-sans";

$border-radius: 2px;

%slow-transition {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(.07,.95,0,1);
}

// @todo these styles are different in every OS :(

%text-display-20 {
  font-family: "Fira Sans";
  font-weight: 300;
  font-size: 36px;
}

%text-title-30 {
  font-family: "Fira Sans";
  font-weight: 300;
  font-size: 22px;
}

%text-title-20 {
  font-family: "Fira Sans";
  font-weight: 500;
  font-size: 17px;
}

%text-title-10 {
  font-family: "Fira Sans";
  font-weight: 500;
  font-size: 13px;
}

%text-body-20 {
  font-family: "Fira Sans";
  font-weight: 400;
  font-size: 15px;
}

%text-body-20--bold {
  @extend %text-body-20;
  font-weight: 700;
}

%text-body-10 {
  font-family: "Fira Sans";
  font-weight: 400;
  font-size: 13px;
}

%text-body-10--bold {
  @extend %text-body-10;
  font-weight: 700;
}

%text-caption-20 {
  font-family: "Fira Sans";
  font-weight: 400;
  font-size: 13px;
}

%text-caption-20--bold {
  @extend %text-caption-20;
  font-weight: 700;
}

%text-caption-10 {
  font-family: "Fira Sans";
  font-weight: 400;
  font-size: 13px;
}

%text-caption-10--bold {
  @extend %text-caption-10;
  font-weight: 700;
}

.button {
  border: none;
  cursor: pointer;

  &--color {
    &-default {
      background-color: $grey-90;
      color: $grey-90-a10;
    }

    &-primary {
      background-color: $blue-60;
      color: $white-100;

      &:hover:not(:disabled) {
        background-color: $blue-70;
      }

      &:focus {
        box-shadow: 0 0 0 1px $blue-50 inset, 0 0 0 1px $blue-50, 0 0 0 4px $blue-50-a30
      }

      &:disabled {
        opacity: 0.40;
        cursor: default;
      }
    }

    &-ghost {
      background-color: transparent;
      fill: $grey-90-a80;
    }
  }

  &--size {
    &-default {
      font-size: 13px;
      font-weight: 400;
      height: 32px;
      min-width: 132px;
      width: auto;
      border-radius: 2px;
      padding-left: 8px;
      padding-right: 8px;
    }

    &-micro {
      font-size: 11px;
      font-weight: 400;
      height: 24px;
      width: auto;
      border-radius: 2px;
      padding-left: 8px;
      padding-right: 8px;
    }

    &-puffy {
      font-size: 15px;
      font-weight: 400;
      height: 48px;
      width: auto;
      border-radius: 4px;
      padding-left: 16px;
      padding-right: 16px;
    }
  }
}
