
$border-radius: 2px;

@import "photon-colors";
@import "photon-typography";

@import "photon-buttons";
@import "photon-inputs";
@import "photon-message-bars";

%slow-transition {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(.07,.95,0,1);
}
